* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul {
  list-style-type: none;
}

button {
  border-style: none;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #f7f7f7;
  z-index: 10;
  animation: loading-fade 1s ease 1.3s forwards;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #ad86dd;
  border-top: 15px solid #f7f7f7;
  border-radius: 50%;
  animation: loading 2s ease-in-out infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(3turn);
  }
}
@keyframes loading-fade {
  from {
    opacity: 100%;
    visibility: visible;
  }
  to {
    opacity: 0%;
    visibility: hidden;
  }
}
@keyframes card-slide-up {
  0% {
    opacity: 0;
    margin-top: 50px;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 992px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  header img {
    width: 20%;
  }
  .search-form {
    background-color: #efefef;
    padding: 15px 0px;
  }
  .search-form .location {
    text-align: center;
  }
  .search-form .fa-map-marker-alt {
    position: relative;
    left: 25px;
  }
  .search-form input {
    border-style: none;
    font-size: 14px;
    font-family: Roboto;
    text-align: center;
    background-color: #efefef;
  }
  .home-page-description-and-how {
    display: flex;
    padding: 40px;
    gap: 40px;
  }
  .description {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    margin: 0;
    border-radius: 20px;
    align-items: center;
    font-family: Roboto;
    text-align: center;
    line-height: 30px;
    background-color: #f5f5f5;
  }
  .description button {
    cursor: pointer;
  }
  .description h3 {
    padding: 30px;
    font-weight: bold;
  }
  .description p {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .explore {
    border-radius: 40px;
    background-image: linear-gradient(#FF79DA, #9356DC);
    color: white;
    box-shadow: 6px 6px 15px rgba(213, 213, 213, 0.5843137255);
    transition: 0.3s;
    padding: 15px;
    margin-bottom: 45px;
  }
  .explore:hover {
    box-shadow: 6px 6px 15px #cac9c9;
    transform: scale(0.98);
  }
  .how-it-works-container {
    font-family: Roboto;
    font-weight: bold;
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 20px;
    flex: 1 1 0px;
    margin: 0;
  }
  .how-it-works-container h3 {
    font-size: 16px;
    text-align: center;
  }
  .how-it-works-nested {
    display: flex;
    flex-direction: column;
    border: none;
  }
  .how-form {
    width: 100%;
    margin: 5px 0px;
    z-index: 3;
  }
  .how-number {
    font-size: 12px;
    color: white;
    background-color: #9356DC;
    padding: 3px 7px;
    border-radius: 100%;
    position: relative;
    right: 5px;
    top: 36px;
    z-index: 1;
  }
  .fa-mobile-screen-button {
    position: relative;
    left: 30px;
    top: 37px;
    z-index: 2;
  }
  .choose-1 {
    background-color: white;
    border-radius: 15px;
    padding: 20px 60px;
    width: 100%;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    box-shadow: 6px 6px 15px rgba(213, 213, 213, 0.5843137255);
    transition: 0.3s;
  }
  .choose-1:hover {
    box-shadow: 6px 6px 15px #cac9c9;
    transform: scale(0.98);
    background-color: #f1e6ff;
  }
  .fa-list-ul {
    position: relative;
    left: 30px;
    top: 37px;
    z-index: 2;
  }
  .fa-store {
    position: relative;
    left: 30px;
    top: 37px;
    z-index: 2;
  }
}/*# sourceMappingURL=style.css.map */