* {padding:0px;
    margin:0px;
    box-sizing: border-box;
    }
  
html {scroll-behavior: smooth;}

body {height: 100vh;}

a {color: inherit;
text-decoration: inherit;}

ul {list-style-type: none;}

button {border-style:none;}

.loader {display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: #f7f7f7;
        z-index: 10;
        animation: loading-fade 1s ease 1.3s forwards;
        }

        .loader::after {
            content: "";
            width: 75px;
            height: 75px;
            border: 15px solid #ad86dd;
            border-top: 15px solid#f7f7f7;
            border-radius: 50%;
            animation: loading 2s ease-in-out infinite;
            }

// VARIABLES//

$header-color:#efefef;
$background-color: #f5f5f5;
$box-shadows: 6px 6px 15px #d5d5d595;
$shadow-transition: 0.3s;
$shadow-hover:6px 6px 15px #cac9c9;
$shadow-transform: scale(0.98);

// MIXIN'S//

@mixin choose-icon-position{
    position: relative;
    left:30px;
    top:37px;
    z-index: 2; 
    }

@mixin gradient-button{
    border-radius: 40px;
    background-image:linear-gradient(#FF79DA,#9356DC) ;
    color: white;
    box-shadow: $box-shadows;
    transition: $shadow-transition;
    }       

// KEYFRAMES ANIMATIONS//

@keyframes loading{
    from {transform: rotate(0turn);}

    to {transform: rotate(3turn);}
    }

@keyframes loading-fade{
    from {opacity: 100%;
        visibility: visible;}

    to {opacity: 0%;
        visibility: hidden;}
    }

@keyframes card-slide-up{
    0% {opacity: 0;
        margin-top: 50px;}

    100% {opacity: 1;
        visibility: visible;}
    }
    
@keyframes spin{
    0% {transform: rotate(0deg);}

    100% {transform: rotate(360deg);}
    }

// Homepage Desktop//

@media screen and (min-width: 992px){
  
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:20px;
        img{width:20%;}
        }

    .search-form{
        background-color: $header-color;
        padding:15px 0px;
        .location{text-align: center;}
        .fa-map-marker-alt{position: relative;
                            left: 25px;}
        input{border-style:none;
            font-size: 14px;
            font-family:Roboto;
            text-align: center;
            background-color: $header-color;}
            }
            .home-page-description-and-how{        
                display:flex;
                padding: 40px;
                gap: 40px;
                }
            
            .description{
                display: flex;
                flex-direction: column;
                flex: 1 1 0px;
                margin: 0;
                border-radius: 20px;;
                align-items: center;
                font-family: Roboto;
                text-align: center;
                line-height: 30px;
                background-color:$background-color;
                button{cursor: pointer;}
                h3{padding:30px;
                    font-weight:bold;}
                p{font-size:15px;
                    margin-bottom:20px;}
                }
            
            .explore{
                @include gradient-button;
                padding:15px;
                margin-bottom: 45px;
                }
                
                .explore:hover{
                    box-shadow: $shadow-hover;
                    transform: $shadow-transform;
                    }
            
            .how-it-works-container{
                font-family: Roboto;
                font-weight: bold;
                background-color: $background-color;
                padding:30px;
                border-radius: 20px;
                flex: 1 1 0px;
                margin: 0;
                h3{font-size: 16px;
                   text-align: center;}
                }
            
            .how-it-works-nested{
                display: flex;
                flex-direction: column;
                border:none;
                }
            
                .how-form{
                    width:100%;
                    margin: 5px 0px; 
                    z-index: 3;
                    }
            
                    .how-number{
                        font-size: 12px;
                        color: white;
                        background-color: #9356DC;
                        padding:3px 7px;
                        border-radius: 100%;
                        position: relative;
                        right:5px;
                        top:36px;
                        z-index:1;
                        }
            
            .fa-mobile-screen-button{
                @include choose-icon-position; 
                }
    
            .choose-1{
                background-color: white;
                border-radius: 15px;
                padding:20px 60px;
                width:100%;
                font-weight: bold;
                font-size: 13px;
                text-align: center;
                cursor: pointer;
                box-shadow: $box-shadows;
                transition: $shadow-transition;
                }
    
                .choose-1:hover{
                    box-shadow: $shadow-hover;
                    transform: $shadow-transform;
                    background-color: #f1e6ff;
                    }
    
            .fa-list-ul{
                @include choose-icon-position 
                }
    
            .fa-store{
                @include choose-icon-position 
                }
    
    #restaurants-container{
        background-color: $background-color;
        font-family: Roboto;
        height:370px;
        align-items: center;
        h3{padding: 30px 0px;
            font-size: 18px;
            text-align: center;}
            }

            .restaurant-nested-container{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-left:20px;
                margin-right:20px;
                position: relative;
                top:30px;
                right:160px;
                .tablet-group-1{display: flex;}
                .tablet-group-2{display: flex;}
                }

    .new-sign{
        position: relative;
        top:-110px;
        left:360px;
        background-color: #99E2D0;
        width:fit-content;
        height:30px;
        padding: 5px 25px;
        border-radius: 2px;
        z-index: 1;
        p{font-size:15px;
            color: #388a75;
            font-weight: bold;}
            }

        .new-sign-2{
            position: relative;
            left:590px;
            }

    .restaurants-card1{
            width: 280px;
            height:190px;
            margin:15px 15px;
            border-radius: 20px;
            background-color: white;
            position: relative;
            bottom:40px;
            box-shadow: $box-shadows;
            transition: $shadow-transition;
            img{width: 280px;
                height:120px;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;}
                }
    
            .restaurants-card1:hover{
                box-shadow: $shadow-hover;
                transform: $shadow-transform;
                }
    
        .card-1-info{
            padding:10px;
            line-height: 22px;
            }

    .fa-stack{
        font-size:25px;
        position: relative;
        left:220px;
        bottom:65px;
        }
        
        .full-heart {
            opacity: 0;
            background: linear-gradient(#9356DC, #FF79DA 75%);
            -webkit-background-clip: text;
            background-clip: text;
            font-size: 25px;
            -webkit-text-fill-color: transparent;
            transition: 0.3s;
            }

            .full-heart:hover {
            opacity: 1;
            cursor: pointer;
            }

    .footer-container{
        position: relative;
        top:0px;
        height:140px;
        background-color: rgb(46, 46, 46);
        font-family: Roboto;
        }
    
        .footer-information{
            color:white;
            padding:30px;
            margin-left:300px;
            img{width:100px;
                margin-bottom: 10px;
                margin-left: 260px;
                filter:invert(100%);}
                }   
    
        .footerlist{
            line-height:28px;
            float:left;
            margin-right:60px;
            margin-top:10px;
            }
    
        .fa-utensils{
            margin-right:10px;
            }
        
        .fa-handshake-angle{
            margin-right:10px;
            }
    
    }

// Homepage tablet//

@media only screen 
and (min-width: 767px)
and (max-width: 992px) {

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:20px;
        img{width:20%;}
        }

    .search-form{
        background-color: $header-color;
        padding:15px 0px;
        .location{text-align: center;}
        .fa-map-marker-alt{position: relative;
                           left: 25px;}
        input{border-style:none;
              font-size: 14px;
              font-family:Roboto;
              text-align: center;
              background-color: $header-color;}
            }
        
    .home-page-description-and-how{        
        display:flex;
        padding: 40px;
        gap: 40px;
        }
    
    .description{
        display: flex;
        flex-direction: column;
        flex: 1 1 0px;
        margin: 0;
        border-radius: 20px;;
        align-items: center;
        font-family: Roboto;
        text-align: center;
        line-height: 30px;
        background-color:$background-color;
        button{cursor: pointer;}
        h3{padding:30px;
            font-weight:bold;}
        p{font-size:15px;
            margin-bottom:20px;}
        }
    
    .explore{
        @include gradient-button;
        padding:15px;
        margin-bottom: 45px;
        }
        
        .explore:hover{
            box-shadow: $shadow-hover;
            transform: $shadow-transform;
            }
    
    .how-it-works-container{
        font-family: Roboto;
        font-weight: bold;
        background-color: $background-color;
        padding:30px;
        border-radius: 20px;
        flex: 1 1 0px;
        margin: 0;
        h3{font-size: 16px;
           text-align: center;}
        }
    
    .how-it-works-nested{
        display: flex;
        flex-direction: column;
        border:none;
        }
    
        .how-form{
            width:100%;
            margin: 5px 0px; 
            z-index: 3;
            }
    
            .how-number{
                font-size: 12px;
                color: white;
                background-color: #9356DC;
                padding:3px 7px;
                border-radius: 100%;
                position: relative;
                right:5px;
                top:36px;
                z-index:1;
                }
    
            .fa-mobile-screen-button{
                @include choose-icon-position; 
                }
    
            .choose-1{
                background-color: white;
                border-radius: 15px;
                padding:20px 60px;
                width:100%;
                text-align: center;
                font-weight: bold;
                cursor: pointer;
                box-shadow: $box-shadows;
                transition: $shadow-transition;
                }
    
                .choose-1:hover{
                    box-shadow: $shadow-hover;
                    transform: $shadow-transform;
                    background-color: #f1e6ff;
                    }
    
            .fa-list-ul{
                @include choose-icon-position 
                }
    
            .fa-store{
                @include choose-icon-position 
                }
   
    #restaurants-container{
        background-color: $background-color;
        font-family: Roboto;
        height:570px;
        display: flex;
        flex-direction: column;
        h3{padding: 30px 0px 0px 0px;
            font-size: 20px;
            text-align: center;}
            }

            .restaurant-nested-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                .tablet-group-1{display: flex;}
                .tablet-group-2{display: flex;}
                }

    .new-sign{
        position: relative;
        top:47px;
        right:76px;
        background-color: #99E2D0;
        width:fit-content;
        height:30px;
        padding: 5px 25px;
        border-radius: 2px;
        z-index: 1;
        p{font-size:15px;
            color: #388a75;
            font-weight: bold;}
            }

        .new-sign-2{
            position: relative;
            left:240px;
            top:16px;
            }

    .restaurants-card1{
            width: 280px;
            height:190px;
            margin:15px 15px;
            border-radius: 20px;
            background-color: white;
            position: relative;
            bottom:40px;
            box-shadow: $box-shadows;
            transition: $shadow-transition;
            img{width: 280px;
                height:120px;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;}
                }
    
            .restaurants-card1:hover{
                box-shadow: $shadow-hover;
                transform: $shadow-transform;
                }
    
        .card-1-info{
            padding:10px;
            line-height: 22px;
            }

    .fa-stack{
        font-size:25px;
        position: relative;
        left:220px;
        bottom:65px;
        }
       
        .full-heart{
            opacity: 0;
            background: linear-gradient(#9356DC, #FF79DA 75%);
            -webkit-background-clip: text;
            background-clip: text;
            font-size: 25px;
            -webkit-text-fill-color: transparent;
            transition: 0.3s;
            }

            .full-heart:hover{
            opacity: 1;
            cursor: pointer;
            }

    .footer-container{
        position: relative;
        top:0px;
        height:140px;
        text-align: center;
        background-color: rgb(46, 46, 46);
        font-family: Roboto;
        }
    
        .footer-information{
            color:white;
            padding:30px;
            margin-left:80px;
            img{width:100px;
                margin: 0px 54px 10px 0px;
           
                align-items: center;
                filter:invert(100%);}
                }   
    
       .footerlist{
            line-height:28px;
            float:left;
            margin-right:30px;
            margin-top:10px;
            }
    
        .fa-utensils{
            margin-right:10px;
            }
        
        .fa-handshake-angle{
            margin-right:10px;
            }

}

// Homepage iphone 8//

@media only screen 
  and (min-width: 375px) 
  and (max-width: 767px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top:30px;
        img{width:50%;}
        }

    .search-form{
        background-color: $header-color;
        padding:5px 0px;
        margin-top:10px;
        }

    .location{
    padding-top:20px;
    position: relative;
    left:130px;
    bottom:10px;
    }

    button{
        border-style:none;
        }

        .fa-map-marker-alt{
            position: relative;
            right:10px;
            }

    input{
        border-style:none;
        font-size: 14px;
        font-family:Roboto;
        background-color: $header-color;
        }

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
    text-align: center;
    background-color:$background-color;
    h3{padding:25px;
        font-weight:bold;}
    p{font-size:15px;
        margin-bottom:30px;}
    }

.explore{
    @include gradient-button;
    padding:15px;
    margin-bottom: 45px;
    }
    
    .explore:hover{
        box-shadow: $shadow-hover;
        transform: $shadow-transform;
        }

.how-it-works-container{
    font-family: Roboto;
    font-weight: bold;
    h3{margin:30px 30px 0px 20px;}
    }

.how-it-works-nested{
    display: flex;
    flex-direction: column;
    border:none;
    }

    .how-form{
        margin: 5px 20px; 
        z-index: 3;
        }

        .how-number{
            font-size: 12px;
            color: white;
            background-color: #9356DC;
            padding:3px 7px;
            border-radius: 100%;
            position: relative;
            right:5px;
            top:36px;
            z-index:1;
            }

        .fa-mobile-screen-button{
            @include choose-icon-position; 
            }

        .choose-1{
            background-color: $background-color;
            border-radius: 15px;
            padding:20px 60px;
            width:100%;
            text-align: center;
            font-weight: bold;
            box-shadow: $box-shadows;
            transition: $shadow-transition;
            }

            .choose-1:hover{
                box-shadow: $shadow-hover;
                transform: $shadow-transform;
                background-color: #f1e6ff;
                }

        .fa-list-ul{
            @include choose-icon-position 
            }

        .fa-store{
            @include choose-icon-position 
            }  

    .create1{
        position: relative;
        right:10px;
        }  

    .enjoy1{
        position: relative;
        left:25px;
        }  

#restaurants-container{
    background-color: $background-color;
    margin-top: 40px;
    font-family: Roboto;
    height:950px;
    h3{padding: 40px 20px 0px 20px;
        font-size: 22px;}
        }

    .restaurant-nested-container{
        display: flex;
        flex-direction: column;
        }
        
    .restaurants-card1{
            width: 330px;
            height:240px;
            margin:15px 20px;
            border-radius: 20px;
            background-color: white;
            position: relative;
            bottom:40px;
            box-shadow: $box-shadows;
            transition: $shadow-transition;
            img{width: 330px;
                height:170px;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;}
                }

            .restaurants-card1:hover{
                box-shadow: $shadow-hover;
                transform: $shadow-transform;
                }

        .new-sign{
            position: relative;
            top:45px;
            left:255px;
            background-color: #99E2D0;
            width:fit-content;
            padding: 5px 25px;
            border-radius: 2px;
            z-index: 1;
            p{font-size:15px;
                color: #388a75;
                font-weight: bold;}
                }

            .new-sign-2{
                position: relative;
                top:280px;
                }

        .card-1-info{
            padding:10px;
            line-height: 22px;
            }
        
        .fa-stack{
            font-size:25px;
            position: relative;
            left:260px;
            bottom:62px;
            }

            .full-heart {
                opacity: 0;
                background: linear-gradient(#9356DC, #FF79DA 75%);
                -webkit-background-clip: text;
                background-clip: text;
                font-size: 25px;
                -webkit-text-fill-color: transparent;
                transition: 0.3s;
                }

                .full-heart:hover {
                opacity: 1;
                cursor: pointer;
                }

.footer-container{
    position: relative;
    top:220px;
    background-color: rgb(46, 46, 46);
    font-family: Roboto;
    }

    .footer-information{
        color:white;
        padding:30px;
        img{width:100px;
            margin-bottom: 10px;
            filter:invert(100%);}
            }   

   .footerlist{
        line-height:28px;
        }

    .fa-utensils{
        margin-right:10px;
        }
    
    .fa-handshake-angle{
        margin-right:10px;
        }

  }

// Menu pages tablet//

@media only screen 
and (min-width: 767px)
and (max-width: 992px) {

    header img{
        width:20%;
        align-items: center;
        }

    .fa-arrow-left{
        position: relative;
        right:340px;
        bottom:30px;
        font-size: 25px;
        }
    
        .fa-arrow-left:hover{
            cursor: pointer;
            }
    
    .the-full-palette-img img{
        width:40%;
        height:948px;
        object-fit: cover;
        position: relative;
        bottom:25px;
        display: block;
        }

        .enchanted-img img{
            height:1000px;          
            }
    
    .palette-heart{
        position: relative;
        left:300px;
        bottom:42px;
        font-size: 23px;
        }

        .full-heart {
            opacity: 0;
            background: linear-gradient(#9356DC, #FF79DA 75%);
            -webkit-background-clip: text;
            background-clip: text;
            font-size: 25px;
            -webkit-text-fill-color: transparent;
            transition: 0.3s;
            }

            .full-heart:hover {
            opacity: 1;
            cursor: pointer;
            }
    
    .menu-main-container{
        display: flex;
        flex-direction: column;
        background-color: $background-color;
        height:950px;
        width:65%;
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
        position: absolute;
        left:35%;
        bottom:10px;
        .enchanted-title{margin-bottom:30px;}
        h2{font-family: Shrikhand;
            padding:20px 30px 0px 30px;}    
        .enchanted-heart{position: relative;
                        bottom:70px;}
        .bastille-heart{position: relative;
                        bottom:70px;}
        }
    

    .enchanted-main{
        position: absolute;
        bottom:0px;
        top:65px;
        height:1000px;
        }
    
    .menu-main-nested-container{
        display: flex;
        flex-direction: column;
        }

        .menu-dishes{
            position: relative;
            bottom:30px;
            display: flex;
            flex-direction: column;
            h4{font-family: Roboto;
                font-weight: lighter;
                margin-left:30px;
                margin-bottom:10px;
                line-height: 15px;}
                }
    
            .green-line{
                width:150px;
                margin-top: 20px;
                margin-bottom: 5px;
                position: relative;
                left:30px;
                h4{position: relative;
                right:30px;}
                }

            .menu-border{
                border-bottom: solid 2px #99E2D0 ;
                width: 40px;
                }
            
        .dishes-button{
            h4{margin-left:0px;
                font-size: 15px;
                font-weight: bold;}
            h5{font-weight: lighter;
                    font-size:12px}
            overflow: hidden;
            text-align: left;
            font-family: Roboto;
            background-color: white;
            margin:5px 20px 5px 20px;
            width:65%;
            height:60px;
            border-radius: 15px;
            padding:17px;
            line-height: 5px;
            box-shadow: $box-shadows;
            transition: $shadow-transition;
            transition: 0.3s;
            animation: card-slide-up 2s ease-in-out forwards;
            .price{font-size:12px;
                    position: relative;
                    left:260px;
                    bottom:6px;
                    transition: 0.5s ease;}
            }
        
            .dishes-button:hover{
                box-shadow: $shadow-hover;
                transform: $shadow-transform;
                cursor: pointer;
                .green-tick{display: flex;
                            margin-left:0px;
                            i{animation: spin 0.5s;}}
                .price{left:237px;}
                }
    
            .dishes-button-text{
                flex: 1;
                min-width: 0;
                h5{white-space: nowrap;
                    text-overflow: ellipsis;}
                }

            .main{
                margin-top:0px;
                }
    
            .desserts{
                margin-top:0px;
                }
    
            .green-tick{
                position: relative;
                bottom:52px;
                left:265px;
                margin-left:45px;
                border-bottom-right-radius: 15px;
                border-top-right-radius: 15px;
                padding:23px 16px 21px 15px;
                background-color: #99E2D0;
                color: white;
                width:fit-content;
                transition: 0.5s ease;
                }
            
        .order{
            position: relative;
            top:0px;
            left:160px;
            width:100px;
            margin-bottom:50px;
            }
            
        .order-text{
            padding:10px 55px 10px 55px;
            @include gradient-button;
            cursor: pointer;
            }
        
            .order-text:hover{
                box-shadow: $shadow-hover;
                transform: $shadow-transform;
                }
                
    .footer-container{
        position: relative;
        top:0px;
        height:140px;
        background-color: rgb(46, 46, 46);
        font-family: Roboto;
        }


    .menu-1-footer{
        margin-top:-25px;
        }

        .menu-2-footer{
            margin-top:-50px;
            width:769px;
            position: relative;
            top: 23px;
            }
        
        .footer-information{
            color:white;
            padding:30px;
            margin-left:40px;
            img{width:100px;
                margin-bottom: 10px;
                margin-left: 15px;
                filter:invert(100%);}
                }   
    
        .footerlist{
            line-height:28px;
            float:left;
            margin-right:60px;
            margin-top:10px;
            }
    
        .fa-utensils{
            margin-right:10px;
            }
        
        .fa-handshake-angle{
            margin-right:10px;
            }

}

// Menu pages iphone 8//

  @media only screen 
  and (min-width: 375px) 
  and (max-width: 767px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
      
    .fa-arrow-left{
        position: relative;
        right:140px;
        bottom:25px;
        font-size: 20px;
        }
    
        .fa-arrow-left:hover{
            cursor: pointer;
            }
    
    .the-full-palette-img{
        img{width:100%;}
        }
    
        .palette-heart{
            font-size:25px;
            position: relative;
            left:300px;
            bottom:45px;
            }
    
            .full-heart {
                opacity: 0;
                background: linear-gradient(#9356DC, #FF79DA 75%);
                -webkit-background-clip: text;
                background-clip: text;
                font-size: 25px;
                -webkit-text-fill-color: transparent;
                transition: 0.3s;
                }
    
                .full-heart:hover {
                opacity: 1;
                cursor: pointer;
                }
    
    .menu-main-container{
        background-color: $background-color;
        height:1020px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        position: relative;
        bottom:40px;
        h2{font-family: Shrikhand;
            padding:30px 30px 0px 30px;}
            .enchanted-title{font-size: 30px;}
            .enchanted-heart{position: relative;
                            bottom:90px;
                            left:300px;}
            .bastille-heart{position: relative;
                            bottom:47px;}
            .gourmand-heart{position: relative;
                            bottom:45px;}
        }
    
    .enchanted-main{
        margin-bottom:-110px;
        height:1140px;
        }
    
    .bastille-main{
        height:1030px;
        }
    
    .menu-main-nested-container{
        display: flex;
        flex-direction: column;
        }
    
        .menu-dishes{
            position: relative;
            display: flex;
            flex-direction: column;
            h4{font-family: Roboto;
                font-weight: lighter;
                margin-left:30px;
                margin-bottom:10px;
                line-height: 15px;}
                }
    
            .green-line{
                width:150px;
                margin-bottom: 10px;
                position: relative;
                left:30px;
                h4{position: relative;
                    right:30px;}
                }
    
            .menu-border{
                border-bottom: solid 2px #99E2D0 ;
                width: 40px;
                }
                
        .dishes-button{
            h4{margin-left:0px;
                font-size: 15px;
                font-weight: bold;}
            h5{font-weight: lighter;
                    font-size:12px}
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
            font-family: Roboto;
            background-color: white;
            margin:5px 20px 5px 20px;
            width:90%;
            height:60px;
            border-radius: 15px;
            padding:17px;
            line-height: 5px;
            box-shadow: $box-shadows;
            transition: $shadow-transition;
            transition: 0.3s;
            animation: card-slide-up 2s ease-in-out forwards;
            .price{font-size:12px;
                    position: relative;
                    left:277px;
                    bottom:5px;
                    width:fit-content;
                    transition: 0.5s ease;
                    }
            }
    
            .dishes-button:hover{
                box-shadow: $shadow-hover;
                transform: $shadow-transform;
                .green-tick{display: flex;
                    margin-left:0px;
                    i{animation: spin 0.5s;}}
                .price{left:243px;}
                }
    
                .dishes-button-text{
                    flex: 1;
                    min-width: 0;
                    h5{white-space: nowrap;
                        text-overflow: ellipsis;}
                    }

        .green-tick{
            position: relative;
            bottom:52px;
            left:276px;
            margin-left:45px;
            border-bottom-right-radius: 15px;
            border-top-right-radius: 15px;
            padding:23px 16px 21px 15px;
            background-color: #99E2D0;
            color: white;
            width:fit-content;
            transition: 0.5s ease;
            }

        .main{
            margin-top:30px;
            }
    
        .desserts{
            margin-top:30px;
            }
            
        .order{
            position: relative;
            top:30px;
            left:115px;
            }
                
        .order-text{
            padding:10px 55px 10px 55px;
            @include gradient-button;
            }
            
            .order-text:hover{
                box-shadow: $shadow-hover;
                transform: $shadow-transform;
                }
                
        footer{
            height:10px;
            .menu-1-footer{position: relative;
                            top:-40px;} 
            .menu-2-footer{position: relative;
                            top:70px;
                            i{position: relative;
                            left:0px;
                            top:4px;
                            font-size:16px;}}
            }
    
    }