<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ohmyfood</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
        <style>@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');</style>
        <link href="scss/style.css" type="text/css" rel="stylesheet">
    </head>
    
    <body> 

        <div class="loader"></div>

        <!-- OHMYFOOD LOGO -->
        <header>
            <img src="images/logo/ohmyfood.png" alt="ohmyfood logo"> 
        </header>

        <!-- LOCATION SEARCH FORM -->
        <div class="search-form shadow-top">
            <form class="location" action="#">
                <i class="fas fa-map-marker-alt"></i>
                <input type="text" value="Paris, Belleville" name="City">
            </form>
        </div>